:root {
    background-color: #000000;
}

html {
    @apply select-none cursor-none;
}

select:focus {
    outline: none;
}

button:focus {
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

div:focus {
    outline: 4px solid transparent;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fade-in 250ms ease-in-out forwards;
}

.fade-in-long {
    opacity: 0;
    animation: fade-in 350ms ease-in-out forwards;
}

.pre-wrap-text {
    white-space: pre-wrap;
}

.flex-fluid {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}
