.maplibregl-popup-tip {
    display: none !important;
}

.maplibregl-popup-content {
    background: hsl(var(--ly1)) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(0,0,0,.2) !important;
    padding: 0px !important;
    transition: background-color 250ms ease-in-out !important;
}

