@keyframes spinner-fade-white {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes spinner-fade-base {
    0% {
        background-color: hsl(var(--ly2-gl));
    }
    100% {
        background-color: transparent;
    }
}

.spinner8 {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner8.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner8 .spinner8-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.1em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade-base 1s infinite linear;
}

.spinner8-white .spinner8-blade-white {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.1em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade-white 1s infinite linear;
}

.spinner8 .spinner8-blade:nth-child(1) {
    animation-delay: 0s;
    transform: rotate(0deg);
}

.spinner8 .spinner8-blade:nth-child(2) {
    animation-delay: 0.125s;
    transform: rotate(45deg);
}

.spinner8 .spinner8-blade:nth-child(3) {
    animation-delay: 0.25s;
    transform: rotate(90deg);
}

.spinner8 .spinner8-blade:nth-child(4) {
    animation-delay: 0.375s;
    transform: rotate(135deg);
}

.spinner8 .spinner8-blade:nth-child(5) {
    animation-delay: 0.5s;
    transform: rotate(180deg);
}

.spinner8 .spinner8-blade:nth-child(6) {
    animation-delay: 0.625s;
    transform: rotate(225deg);
}

.spinner8 .spinner8-blade:nth-child(7) {
    animation-delay: 0.75s;
    transform: rotate(270deg);
}

.spinner8 .spinner8-blade:nth-child(8) {
    animation-delay: 0.875s;
    transform: rotate(315deg);
}

.spinner12 {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner12.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner12 .spinner12-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade-base 1s infinite linear;
}

.spinner12-white .spinner12-blade-white {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade-white 1s infinite linear;
}

.spinner12 .spinner12-blade:nth-child(1) {
    animation-delay: 0s;
    transform: rotate(0deg);
}

.spinner12 .spinner12-blade:nth-child(2) {
    animation-delay: 0.083s;
    transform: rotate(30deg);
}

.spinner12 .spinner12-blade:nth-child(3) {
    animation-delay: 0.166s;
    transform: rotate(60deg);
}

.spinner12 .spinner12-blade:nth-child(4) {
    animation-delay: 0.249s;
    transform: rotate(90deg);
}

.spinner12 .spinner12-blade:nth-child(5) {
    animation-delay: 0.332s;
    transform: rotate(120deg);
}

.spinner12 .spinner12-blade:nth-child(6) {
    animation-delay: 0.415s;
    transform: rotate(150deg);
}

.spinner12 .spinner12-blade:nth-child(7) {
    animation-delay: 0.498s;
    transform: rotate(180deg);
}

.spinner12 .spinner12-blade:nth-child(8) {
    animation-delay: 0.581s;
    transform: rotate(210deg);
}

.spinner12 .spinner12-blade:nth-child(9) {
    animation-delay: 0.664s;
    transform: rotate(240deg);
}

.spinner12 .spinner12-blade:nth-child(10) {
    animation-delay: 0.747s;
    transform: rotate(270deg);
}

.spinner12 .spinner12-blade:nth-child(11) {
    animation-delay: 0.83s;
    transform: rotate(300deg);
}

.spinner12 .spinner12-blade:nth-child(12) {
    animation-delay: 0.913s;
    transform: rotate(330deg);
}