@utility ly1-apply-active {
    @apply bg-ly1-focus;
}

@utility ly1-ring-apply {
    @apply ring-[0.3rem] ring-ly1-edge;
}

@utility ly1-raise-apply {
    @apply scale-[102%];
}

@utility ly1-raise-apply-less {
    @apply scale-[101%];
}

@utility ly1-active-gl {
    @apply active:text-ly1-gl-a group-active:text-ly1-gl-a;
}

@utility ly1-active-surface {
    @apply active:bg-ly1-focus group-active:bg-ly1-focus;
}

@utility ly1-active-raise {
    @apply active:scale-[102%] group-active:scale-[102%];
}

@utility ly1-active-raise-less {
    @apply active:scale-[101%] group-active:scale-[101%];
}

@utility ly1-active-ring {
    @apply ring-ly2/60 active:ring-[0.3rem] group-active:ring-[0.3rem] delay-[75ms] duration-[350ms];
}

@utility ly1-active-ring-less {
    @apply ring-ly2/60 active:ring-[0.25rem] group-active:ring-[0.25rem] delay-[50ms] duration-[350ms];
}

@utility ly1-focus-surface {
    @apply focus:bg-ly1-focus group-focus:bg-ly1-focus;
}

@utility ly1-focus-raise {
    @apply focus:scale-[102%] group-focus:scale-[102%];
}

@utility ly1-focus-raise-less {
    @apply focus:scale-[101%] group-focus:scale-[101%];
}

@utility ly1-focus-ring {
    @apply ring-ly2/60 focus:ring-[0.3rem] group-focus:ring-[0.3rem] delay-[75ms] duration-[350ms];
}

@utility ly1-focus-ring-less {
    @apply ring-ly2/60 focus:ring-[0.25rem] group-focus:ring-[0.25rem] delay-[50ms] duration-[350ms];
}