.carousel-container {
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    list-style: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-item {
    scroll-snap-align: start;
}

@utility carousel-container-trellis {
    @apply flex flex-grow h-full w-full;
}

@utility carousel-item-trellis {
    @apply flex flex-col w-fit px-4 gap-4 justify-start items-center
}