@utility button-submit {
    @apply h-btn_line min-w-[82px] w-fit rounded-2xl active:bg-ly1_a;
}

@utility button-simple {
    @apply h-btn_line w-line;
}

@utility button-base,
@utility button-simple,
@utility button-submit {
    @apply flex flex-row justify-center items-center font-mono text-sm lowercase transition-all select-none cursor-none;
}

@utility button-simple,
@utility button-submit {
    @apply bg-ly1 text-ly2-gl;
}