.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fade-in 250ms ease-in-out forwards;
}

.fade-in-long {
    opacity: 0;
    animation: fade-in 350ms ease-in-out forwards;
}

.pre-wrap-text {
    white-space: pre-wrap;
}

.flex-fluid {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

@utility opacity-active {
    @apply active:opacity-80 group-active:opacity-80;
}